.header {
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1545px;
	margin: 0 auto;
	padding-top: 32px;
}
.logo {
	width: 470px;
}
.logo__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__text {
	margin-left: 45px;
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #282828;
}
.adress {
	margin-left: 135px;
	width: 312px;
}
.adress__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.adress__text {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #282828;
}
.adress__text span {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #282828;
}
.adress__main {
	display: flex;
	flex-direction: column;
}
.map {
	position: relative;
	width: 78px;
	height: 78px;
	border-radius: 39px;
	box-shadow: 3px 0px 50px 20px #ebdfdb;
}
.map__point {
	position: absolute;
	bottom: 39px;
	left: 39px;
}
.look {
	position: relative;
	margin-top: 20px;
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #ff6078;
	text-transform: uppercase;
}
.look:after {
	content: "";
	width: 63%;
	position: absolute;
	border-bottom: 1px dashed;
	bottom: -6px;
	left: 0;
}
.contacts {
	width: 260px;
}

.working {
	display: flex;
	justify-content: center;
}
.working__img {
	width: 6px;
	height: 6px;
	margin-left: 45px;
	margin-right: 10px;
}
.working__text {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #282828;
}
.tel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tel__img {
	margin-right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	box-shadow: 3 0 50px 20px #ebdfdb;
}
.tel__number {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #282828;
}
.hours {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hours__img {
	margin-right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	box-shadow: 3 0 50px 20px #ebdfdb;
}
.hours__text {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #282828;
	margin-right: 67px;
}
.hours__text span {
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #282828;
}
.online {
	margin-left: 60px;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 230px;
	height: 60px;
	border-radius: 30px;
	background-color: #fefcfb;
	border: none;

	box-shadow: 0 5px 0px rgba(235, 234, 235, 0.9);
	padding: 10px;
}
.button__text {
	margin-left: 10px;
	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #282828;
}
.map-header:before {
	content: "Загрузка карты...";
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 1.3vw;
	color: #379ab1;
	z-index: 0;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}
