<header class="header">
	<div class="header">
		<div class="container-fluid header__inner">
			<div class="logo">
				<div class="logo__items">
					<a href="#" class="logo__img">
						<img src="assets/images/logo.png" alt="">
					</a>
				</div>


			</div>

			<div class="header__text">
				<div class="tsm10">
					Студия депиляции и<br>
					массажный кабинет<br>
					в Бресте
				</div>
			</div>

			<div class="header-item header-map">
				<div class="item mrm">
					<img src="/assets/images/icon_map.png" alt="">
				</div>

				<div class="header-map__info">
					<div class="header-map-title small-text fw70016">
						Мы находимся в центре:<br>
						<span>г. Брест, ул. Гоголя, д.65</span>
					</div>
					<div class="tsm13 ldsh tg-solid">
						Смотреть на карте
					</div>
				</div>

				<div class="map-header">

					<iframe
						src="https://yandex.ru/map-widget/v1/?um=constructor%3A59cb89c0f3dad65d1670539f36f9b34d5593e66bc2e40df47e8cf9056d9456a0&amp;source=constructor"
						width="320" height="320" frameborder="0"></iframe>
				</div>
			</div>
			<div class="phones">
				<div class="phones__block-work mbs">
					<div class="phones__block-cir"></div>
					<div class="phones__block-text tsm10">
						Звоните, сейчас работаем
					</div>
				</div>
				<div class="phones-wrap1">
					<div class="item mrm">
						<img src="/assets/images/tel.png" alt="">
					</div>
					<div class="phones__item-wraps fw6">
						<a class="phones__item fw6" href="tel:375333822499">
							+375 33 382 24 99
						</a>
					</div>
				</div>
				<div class="phones-wrap">
					<div class="item mrm">
						<img src="/assets/images/work.png" alt="">
					</div>
					<div class="phones__item-wraps fw30016">
						Пн-Вс <span>9:00-21:00</span>
					</div>
				</div>

			</div>
			<div class="main-trigger">
				<a href="#" class="btn main-btn big mrsm btn-pri-js" data-toggle="modal" data-target="#Modal">
					<span class="btn-blick"></span>
					<img src="/assets/images/calend.png" alt="">
					<span class="small-text ttu fw4">
						Записаться онлайн
					</span>
				</a>
			</div>
		</div>
	</div>

</header>