<nav class="nav">
	<div class="nav__items">
		<a class="nav__link  active" href="#">Главная</a>
		<a class="nav__link" href="#">Шугаринг и депиляция воском</a>
		<a class="nav__link" href="#">Антицеллюлитный массаж</a>
		<a class="nav__link" href="#">Классический массаж</a>
		<a class="nav__link" href="#">Обучение</a>
		<a class="nav__link" href="#">Косметика для мастеров</a>
		<a class="nav__link" href="#">Статьи</a>
		<a class="nav__link" href="#">О студии</a>
		<a class="nav__link" href="#">Контакты</a>
	</div>
</nav>